<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link btn btn-link" (click)="nuevoArchio()" >
            <i class="fa fa-user"></i>
            Nuevo
            <span class="sr-only"></span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link btn btn-link" (click)="download()" >
              <i class="fa fa-user"></i>
              Descargar
              <span class="sr-only"></span>
              </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link btn btn-link" (click)="analizar()" >
              Ejecutar Archivo
              <span class="sr-only"></span>
              </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link btn btn-link" (click)="clickImagenes()">
                Ver imagenes
              <span class="sr-only"></span>
              </a>
          </li>
      </ul>
      <ul class="navbar-nav " >
        <li class="nav-item active">
          <a class="nav-link btn btn-link" (click)="clicReport()" >
              Reporte Errores
            <span class="sr-only"></span>
            </a>
        </li>
      </ul>
      
    </div>
  </nav>

<body>
  <div class="card">
    <div class="card-body">
      <div class="btn-group" role="group" aria-label="Basic example">
        <div *ngFor="let archivo of archivos let i= index">
          <button type="button" (click)="settearText(archivo.name)" class="btn btn-dark">{{archivo.name}}</button>
          <button class="cerrar btn btn-outline-light" (click)="cerrarPestania(i)"  >x</button>
        </div>
      </div>
      <ngx-codemirror
      [(ngModel)]="entrada"
      [options]="{
      lineNumbers: true,
      theme: 'material',
      mode: 'markdown'
      }"
      class="form-control" aria-label="With textarea">
    </ngx-codemirror>
    </div>
    <div class="card-body">
      <label class="btn btn-primary"> <input type="file" (change)="fileUploadInAngular($event)"/> Cargar </label>  
    </div>
    <div class="card-body">
      <h6>Consola</h6>
      <ngx-codemirror
      [(ngModel)]="salida"
      [options]="{
      lineNumbers: false,
      theme: 'material',
      mode: 'markdown'
      }"
      class="form-control" aria-label="With textarea">
    </ngx-codemirror>
    </div>
  </div>   
</body>
