<head>
   <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  </head>
<body>
    <header>
        <h1 class="titulo" style="text-align:center;">IMAGENES GENERADOS</h1>
      </header>
    <div  style="text-align:center;">    
        <button type="button" routerLink="/" class="btn btn-primary">REGRESAR</button>
        <button type="button" (click)="agregarGraficos()"  class="btn btn-primary" >Ver Graficas de Expresiones</button>
    </div>
    <div id="graph" ></div>
        <div style="text-align:center;" *ngFor="let hero of listaGraficos;let indice=index"   >
        <div id="graph{{indice+1}}" ></div>
        <button *ngIf="mostrarB" class="btn btn-danger" (click)="descargar(indice+1)" >Download</button>
    </div>

</body>
