<body>
    <header>
        <h1 class="titulo" style="text-align:center;">ERRORES ENCONTRADOS</h1>
    </header>
    <div class="card-warning">
        <div class="card-body">
            <table class="table table-success table-striped">
                <thead>
                    <tr>
                      <th>#</th>
                      <th>Tipo</th> 
                      <th>linea</th>
                      <th>Columna</th> 
                      <th>Descripcion</th> 
                      <th>Archivo</th>  
                    </tr>
                  </thead> 
                  <tbody>
                    <tr *ngFor="let error of errores.errores; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <th>{{error.tipoErr}}</th> 
                        <th>{{error.line}}</th>
                        <th>{{error.column}}</th> 
                        <th>{{error.getDescripcion()}}</th>
                        <th>{{error.nameArch}}</th>
                    </tr>
                  </tbody>
            </table>
        </div>
        <div style="text-align:center;">
            <button type="button" class="btn btn-danger" (click)="regresar()">regresar</button>
        </div>
    </div>
</body>